<div class="table-responsive-sm" >
  <table id="sessions" class="table table-hover table-striped" >
    <thead class="thead-dark ">
      <th scope="col">ID</th>
      <th scope="col">Date Played</th>
      <th scope="col">Results</th>
      <th scope="col">Players</th>
    </thead>
    <tbody>
      <% poker_sessions.each do |poker_session| %>
        <tr>
          <td style="display:none;"><%= link_to '', poker_session_path(poker_session) %></td>
          <td><%= poker_session.id %></td>
          <td><%= poker_session.date_played %></td>
          <td><%= poker_session.hands.sum(:result) %></td>
          <td>
            <% poker_session.players.each do |player| %>
              <div class="span3"><%= player.name %></div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
